<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="txt/css" media="screen" href="../public/stylesheets/perfil.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>Perfil</title>
</head>

<body>
    <header>
        <!--debe ser una especie de flex con el logo a la derecha-->
        <h1>Perfil personal</h1>
        <div>logo</div>
    </header>
    <main>
        <div>
            <div>
                <i class="far fa-user-circle"></i>
            </div>
            <p>Información de usuario, ¿quién soy, qué me gusta hacer?</p>
            <input type="text" placeholder="Hola mi nombre es fulanito, me gusta divertirme yend a fiestas... blabla">
            <input type="button" value="postear">
        </div>
        <div>
            <p>Número de seguidores: </p>
            <p>1 :v</p>
        </div>
        <footer>
            <p>copyright: Luis, Diego, Josu&eacute;, Javier --- proyecto web 2018</p>
        </footer>
    </main>
</body>

</html>