doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Bfriend
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' media='screen' href='stylesheets/stylePrincipal.css')
  link(rel='stylesheet' type='text/css' media='screen' href='stylesheets/ventanaModal.css')
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  script(src='javascripts/principal.js')
nav.nav_content
  header
    div
      img.logoIconPage(src='img/logoP.png' alt='')
  a(href='') profile
  li
    | Account Settings   <i class="fas fa-cogs"></i>
    // icono flecha
.body_content
  #content.content
    button.post-btn nuevo post
  aside.music_bank
    // barra de musica
    h2 lista de reproduccion
    // titulo de la barra de musica
    .music_content
      // musica
      .music_info
        img(src='' alt='')
        // caratula cancion o por defecto
        p autor
        p album
      .music_info_detalle
        // otras caracteristicas de la cancion
        p nombre cancion
        p duracion cancion
footer.music_player
  | reproductor
