doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Bfriend
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' media='screen' href='stylesheets/stylePrincipal.css')
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  script(src='main.js')
nav.nav_content
  header
    div
      img.logoIconPage(src='img/logoP.png' alt='')
  a(href='') profile
  li
    | Account Settings   <i class="fas fa-cogs"></i>
    // icono flecha
.body_content
  #content.content
    article.content_post
      p @Username
      p post Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolore tempore dolorum officia numquam ratione a in corrupti, reiciendis aspernatur nisi sunt suscipit quia eum unde, recusandae voluptatem quam minima!Iusto, ab suscipit ipsam veritatis quo consequuntur. Temporibus necessitatibus minima amet, libero iste ut distinctio molestiae omnis facere ullam deleniti! Architecto at cupiditate libero quis eius aspernatur aliquam quod ipsam.
      section.reaction_post
        button like
        button dislike
      section
        h2 comments
        .commit
          // commit content
          p @usenameCommit
          p
            | commit...... Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquid enim praesentium, a commodi deleniti exercitationem eos quae mollitia velit quia provident sint! Rerum aspernatur eligendi, hic placeat aliquam perspiciatis!
          button commiting
          // crea un commiting al presionarlo
          .commit
          // commit content
          p @usenameCommit
          p
            | commit...... Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquid enim praesentium, a commodi deleniti exercitationem eos quae mollitia velit quia provident sint! Rerum aspernatur eligendi, hic placeat aliquam perspiciatis!
          button commiting
          // crea un commiting al presionarlo
        .commiting
          // commit input content
          input(type='text')
          button commit
    article.content_post
      p @Username
      p post
      section.reaction_post
        button like
        button dislike
      section
        h2 comments
        .commit
          // commit content
          p @usenameCommit
          p
            | commit...... Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquid enim praesentium, a commodi deleniti exercitationem eos quae mollitia velit quia provident sint! Rerum aspernatur eligendi, hic placeat aliquam perspiciatis!
          button commiting
          // crea un commiting al presionarlo
        .commiting
          // commit input content
          input(type='text')
          button commit
    article.content_post
      p @Username
      p post
      section.reaction_post
        button like
        button dislike
      section
        h2 comments
        .commit
          // commit content
          p @usenameCommit
          p
            | commit...... Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquid enim praesentium, a commodi deleniti exercitationem eos quae mollitia velit quia provident sint! Rerum aspernatur eligendi, hic placeat aliquam perspiciatis!
          button commiting
          // crea un commiting al presionarlo
        .commiting
          // commit input content
          input(type='text')
          button commit
  aside.music_bank
    // barra de musica
    h2 lista de reproduccion
    // titulo de la barra de musica
    .music_content
      // musica
      .music_info
        img(src='' alt='')
        // caratula cancion o por defecto
        p autor
        p album
      .music_info_detalle
        // otras caracteristicas de la cancion
        p nombre cancion
        p duracion cancion
footer.music_player
  | reproductor
