.header{
    display: grid;
    border: 1px solid black;
    padding:0px;
    margin: 0px;
    color: rgb(167, 157, 157);
    background-color: rgb(51, 49, 77);
    justify-content: space-between;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 60% 40% 20%;
    

}

footer{
    border: 1px solid black;
    color: rgb(167, 157, 157);
    background-color: black;
}