* {

    font-size: 20px;
}
main{
    background-color: salmon;
}
header {
    display: flex;
    justify-content: space-between;
    background: rgb(50, 95, 112);
}

h1{
    background: greenyellow;
}

i {
    font-size: 120px;
}

input{
    font-size: 25px;
    width: 1fr;
}

button{
    border-color: dodgerblue;
    color: white;
    background-color: rgb(211, 160, 200);
    font-size: 45px;
}
div.reproductor{
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid blue;
}
#selectTrack{
    background-color: lightskyblue;
}
