*{
    margin: 0;
    padding: 0;
    border:0; 
    --color-botones-reaccion: rgba(83, 224, 243, 0.795);
    --color-content-post:rgba(7, 250, 80, 0.774);
    --color-boton-post:rgba(64, 250, 7, 0.774);
    --color-content-commit:rgba(165, 172, 173, 0.568);
    --color-commit: rgba(165, 172, 173, 0);
}
body , html{
    height: 100%;
}


body{
    background: url('../img/fondo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100%;
}
.content{
    margin: 2%;
    padding:1%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.post-btn{
    padding: 1%;
    border-radius: 1em;
    background-color: var(--color-boton-post);
    border:solid;
}

.logoIconPage{
    height: 20vh;
    width: 20vh;
    border: dotted;
    border-radius: 100%;
}

.logoIconPage:hover{
    transition: 0.5s;
    height: 50vh;
    width: 50vh;
}


.commit{
    
    background-color: var(--color-commit);
    text-align: center;
    flex: 1;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.commit>div *{
    font-size: 1em;
    text-decoration-style: solid;
    font-weight: bold;
}
.commit>*{
    flex:1;
}
.commit>p{
    border-bottom: double;
}



.music_bank{
    display: none;/*ocultando reproductor*/
    background-color: green;
}
.music_player{
    background-color: gray;
}



.content_post{
    flex: 1;
    border-radius: 1em;  
    background-color: var(--color-content-post);
    padding: 1%;
    text-align: center;

}

.content_post>div>p{
    margin: 1%;
    font-size: 2em;
}
.content_post>p{
    padding: 1%;
}

.content_commit{
    margin: 1em;
    border-radius: 1em;
    background-color: var(--color-content-commit);
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    align-content: center;
    align-items: center;
}

.content_commit>h2{
    margin: 1%;
}
.content_commit>button{
    background-color: var(--color-botones-reaccion);
    padding: 1%;
    border-radius: 1em;
    margin: 1%;
}

.body_content{
    display: flex;
}

.nav_content{
    display: flex;
}

/*.reaction_post{
    background-color: crimson;
}*/
.reaction_post>button{
    padding: 1%;
    border-radius: 1em;
    margin: 0 2%;
    width: 9em;
    background-color: var(--color-botones-reaccion);
}

.delete-post{
    padding: 1%;
}
div.reproductor{
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid blue;
}
#selectTrack{
    background-color: lightskyblue;
}

.contentFriends{
    background-color: var(--color-content-post);
    padding: 50vh;
}